@model QLBanDongHo60135761.Models.LoaiKhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div style="margin-bottom: 10px; font-size: 16px;">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã loại khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiKH)
        </dd>

    </dl>
    <dl class="dl-horizontal">
        <dt>
            Tên loại khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaLoaiKH }, new { @class = "btn btn-success", @style = "width: 120px;" })
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary", @style = "width: 120px;" })
</p>