
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<head>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #success {
            width: 500px;
            height: 300px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }

        img {
            padding-top: 10px;
            width: 180px;
            height: 180px;
            background-color: white;
        }

        h2 {
            margin-bottom: 0;
        }

        p {
            font-size: 22px;
        }
    </style>
</head>


<div id="success">
    <img src="~/Images/success.png" alt="" />
    <h2>Chúc mừng</h2>
    <p>
        Bạn đã đăng ký thành công !
    </p>
</div>

