@model QLBanDongHo60135761.Models.QuyenDangNhapNhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>THÔNG TIN CHI TIẾT</h2>

<div style="margin-bottom: 10px; font-size: 16px; padding-left: 20px;">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã quyền đăng nhập
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaQuyenDangNhap)
        </dd>
        <dt>
            Tên quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuyenDangNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaQuyenDangNhap }, new { @class = "btn btn-success", @style = "width: 120px;" })
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary", @style = "width: 120px;" })
</p>
